$main-color: #23292d;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size:10px;
}
body {
  color:#fff;
  background-color: $main-color;
}
body.loading::after{
  height: 100vh;
  width:100%;
  content:"";
  top:0;
  left:0;
  display: block;
  position: fixed;
  z-index: 10;
  background-color: rgba(0,0,0,0.3);
}
.root{
  margin-top: 100px;
}
.login-form{
  width:400px;
  margin: 100px auto;
  input, button{
    width:100%;
    height: 25px;
    margin-bottom: 5px;
  }
}
.product-list{
  width:800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.product-item{
  width:32%;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  .img-wrap{
    width:100%;
    height: 250px;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
.logo{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 30px;
  background: #fff;
  color:#000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width:20px;
    cursor: pointer;
  }
}
.nav{
  position: fixed;
  top:30px;
  left:0;
  width:100%;
  height: 30px;
  background: #000;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  .categories{
    display: flex;
    justify-content: center;
    .categoriItem{
      list-style: none;
      margin: 0 10px;
      cursor: pointer;
    }
  }

}

.product-detail-wrap{
  width:65%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-info{
  width:45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product-img{
  width:45%;
  height: 300px;
  background-position: center center;
  background-size: 96%;
  background-repeat: no-repeat;
  background-size: contain;
}
.product-detail-images{
  width:100%;
  margin-top: 100px;
  height: 500px;
  background-position: center center;
  background-size: 96%;
  background-repeat: no-repeat;
  background-size: contain;
  list-style: none;
}
.option-wrap{
  margin: 15px 0;
}
.cart-form{
  position: fixed;
  bottom:0;
  left:0;
  background: #000;
  width:100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-list-item{
  display: flex;
  justify-content: flex-start;
  .checkbox{
    width:10%;
  }
  .img-wrap{
    width:20%;
    .img{
      width:100%;
    }
  }

  .info-wrap{
    width:70%;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
}


// 로딩 인디케이터
$width: 4px;
$height: 14px;
$duration: 1500;
$containerWidth: 130px;
$transformOriginY: 170%;
#activity{
  .text{
    display: none;
  }
}
.loading{
#activity {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color:rgba(0,0,0,0.8);
  border-radius:10px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  font-family:Helvetica;
  font-size:12px;
  color:white;
  margin: 0 auto;
  width: $containerWidth;
  height: $containerWidth;
  z-index: 100;
  .text{
    display: block;
  }
}
.indicator {
  transform:translateX(50%);
  // margin-left:-($width / 2);
  height:70px;
}
@-webkit-keyframes throbber {
    0% { background-color:white }
    100% { background-color:#808080 }
}

@for $i from 0 through 11 {
  #activity .segment:nth-child(#{$i + 1}) {
    transform: rotate(#{30 * $i}deg);
    animation-delay: #{$i * $duration/12}ms;
  }
}

#activity .segment {
  position: absolute;
  height: $height;
  width : $width;
  background-color: rgba(234,234,234, .30);
  border-radius: 10px;
  -webkit-transform-origin-y: $transformOriginY;
  animation-duration: #{$duration}ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: throbber;
}
}
